.app {
  margin: 1rem 23rem;
  padding: 20px 10px 50px 10px;
  background-color: #0a9ef4;
  border-radius: 5px;
  min-width: min-content;
  max-width: 200px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  font-family: "PT Sans Narrow", sans-serif;
}
