.city-selector {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
  min-width: min-content;
}

.city-selector__input {
  position: relative;
  border: 1px solid #000000;
  height: 2rem;
  border-radius: 5px;
  font-size: medium;
  padding: 0 10px;
}

h2 {
  text-align: center;
  color: #ffffff;
}
