.city-selector {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
  min-width: min-content;
}

.city-selector__input {
  position: relative;
  border: none;
  height: 2rem;
  border-radius: 5px;
  font-family: inherit;
  font-size: medium;
  padding: 0 10px;
  margin-top: 1rem;
}

.city-selector__input:focus {
  outline: 0;
}

h2 {
  text-align: center;
  color: #ffffff;
}
